
<div class="container">
  <h1>People</h1>
  <p style="color: green"><%= notice %></p>
  <%= link_to "New person", new_person_path , class: 'btn btn-primary my-1'%>
  <button id="fetch_people" class="btn btn-warning my-1">Fetch People</button>
  <div id="people-list" class="my-1 fs-5"></div>


  
</div>
  
